version: '3.7'
services:
  bamboo:
    image: atlassian/bamboo-server
    restart: unless-stopped
    volumes:
      - bamboo_data:/var/atlassian/application-data/bamboo
    ports:
      - 54663:54663
      - 8085:8085
  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    links:
      - prometheus:prometheus
      - mongodb:mongodb
    volumes:
      - ./data/grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=password
      - GF_INSTALL_PLUGINS=grafana-googlesheets-datasource
    ports:
      - 3000:3000
  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    links:
      - expyter:expyter
    volumes:
      - ./prometheus/:/etc/prometheus/
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    expose:
      - 9090
    ports:
      - 9090:9090
  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/data/db
  expyter:
    build: ./expyter
    image: expyter
    env_file:
     - ./bamboo.env
    links:
      - bamboo:bamboo
    expose:
      - 8000
    ports:
      - 8000:8000
volumes:
  mongodb_data:
  bamboo_data: